.main
{
    display: flex;
    background-color: inherit;
    justify-content: center;
    padding: 1em;
}


.inputcontainer
{
    display: flex;
    flex-direction: column;
    background-color: dimgray;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    padding: 2em;
    width:  30em;
}

.btn
{
    border-radius: 5px;
    padding: 2px;
    background-color: grey;
    align-self: flex-end;
}

 .btn:hover 
{
    background-color: lightslategray;
    color: red;
}